@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}
body{
  background-color: #1F252A;
  background:radial-gradient(rgb(87, 84, 84),#1F252A,#1F252A);
}

.header{
  background-color:#A0C6B9 ;
  height:350px;
  

}
#logo{
  display: block;
  display:grid;
  grid-template-columns: 1fr;
  padding: 10px;
  width: 160px;
  height:190px;
}

#logo>img{
 width:140px;
 height:140px;
}
#logo>h2{
text-align: center;
}
#title{
  color: white;
  display: flex;
  justify-content: center;
 
}
.main{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  position: relative;
  bottom: 95px;
}
.main>a>img{
  padding: 10px 15px;
  
  width: 380px;
  height: 380px;
  transform: rotate(7deg);
  
}
.main>a>img:hover{
  transform: rotate(0deg);

}
footer{
  background-color: black;
}
footer>h2{
  padding: 10px;
  color: white;
  text-align: center;
}


